CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_ESP_EVENT_POST_FROM_ISR=n
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_MBEDTLS_CHACHA20_C=y
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=16384
